# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environments
# =========================
venv/
.env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Model files
# =========================
*.pt
*.pth
*.ckpt

# =========================
# Data
# =========================
data/
dataset_*/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# System files
# =========================
.DS_Store

# =========================
# Training checkpoints
# =========================
checkpoints*/